[submodule "doc/qml-extra-data-structures"]
	path = doc/qml-extra-data-structures
	url = https://github.com/chili-epfl/qml-extra-data-structures
[submodule "doc/qml-bluetooth-extras"]
	path = doc/qml-bluetooth-extras
	url = https://github.com/chili-epfl/qml-bluetooth-extras
[submodule "doc/qml-cache"]
	path = doc/qml-cache
	url = https://github.com/chili-epfl/qml-cache
